modules = ["nodejs-20", "python-3.12", "web"]
run = "uvicorn compliance_snapshot.app.main:app --host 0.0.0.0 --port 8000"

[nix]
channel = "stable-24_05"
packages = ["cairo", "ffmpeg-full", "freetype", "ghostscript", "gir-rs", "glibcLocales", "gobject-introspection", "gtk3", "imagemagickBig", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "qhull", "tcl", "tk", "zlib"]

[deployment]
run = [
  "sh",
  "-c",
  "uvicorn compliance_snapshot.app.main:app --host 0.0.0.0 --port 8000",
]

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true

[workflows]
runButton = "Start Application"

[[workflows.workflow]]
name = "Start Application"
author = 38770819
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn compliance_snapshot.app.main:app --host 0.0.0.0 --port 8000"
